# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================

venv/
.venv/
env/
ENV/

# =========================
# Environment Variables
# =========================

.env
.env.*

# =========================
# Streamlit
# =========================

.streamlit/

# =========================
# IDEs
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Testing / Coverage
# =========================

.pytest_cache/
.coverage
htmlcov/

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Build / Distribution
# =========================

build/
dist/
*.egg-info/

*.keras